<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/create">New Post</a></li>
    </ul>
    <% if flash[:notice] %>
      <p class="alert alert-success"><%= flash[:notice] %></p>
    <%end%>
    <% if flash[:error] %>
      <p class="alert alert-error"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
